
.loginBackground{
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: radial-gradient(65.92% 65.92% at 50% 50%, #FF0000 0%, rgba(0, 0, 0, 0.99) 100%);
    background-size: cover;
}

.loginScreen{
 position:absolute;
    top: 52%;
    left: 50%;
    width:50em;
    height:30em;
    margin-top: -16em; /*set to a negative number 1/2 of your height*/
    margin-left: -25em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background: #FFFFFF;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.styloLogo{
    position:absolute;
    top: 50%;
    left: 30%;
    width:20em;
    height:20em;
    margin-top: -10em; /*set to a negative number 1/2 of your height*/
    margin-left: -10em; /*set to a negative number 1/2 of your width*/
}
.loginForm{
    position:absolute;
    top: 55%;
    left: 75%;
    width:25em;
    height:25em;
    margin-top: -12.5em; /*set to a negative number 1/2 of your height*/
    margin-left: -12.5em;
    font-family: 'Cabin';
    font-style: normal;
}
.loginButton{
    position: absolute;
    width: 250px;
    height: 45px;
    left: 5px;
    top: 250px;
    border: none;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.63) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}
.checkBox{
background: #FFFFFF;
border: 2px solid #969696;
border-radius: 3px;
font-family: 'Cabin';
font-style: normal;
}

.adminLogin{
    position: absolute;
    width: 100px;
    height: 45px;
    left: 670px;
    top: 15px;
    border: none;
    background-color: inherit;
    border-radius: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    
}

.userLogin{
    position: absolute;
    width: 80px;
    height: 45px;
    left: 580px;
    top: 15px;
    border: none;
    background-color: inherit;
    border-radius: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height:34px;
    text-align: center;
}

.loginfont{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #969696; 
    border-radius: 20px;
}
.forgot{
    position: absolute;
    left:65px;
    top: 310px;
    font-family: 'Arial';
    font-style: normal;
    text-align: center;
    color: #EF6D50;
}

button:hover {
    background-color: rgb(248, 94, 94);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.7s;
    cursor: pointer
    
  }

  input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #969696;
    position: absolute;
    width: 250px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 20px;
    display: block;
    outline: none;
}
input[type=password] {
    background: transparent;
    font-family: 'Arial';
    font-style: normal;
    border: none;
    border-bottom: 1px solid #969696;
    width: 250px;
    font-size: 20px;
    outline: none;
}
input[type=checkbox] {
    font-family: 'Arial';
    font-style: normal;
    
}

.remember{
    font-family: 'Arial';
    font-style: normal;
    
}